.navbar {
  background-color: #91d5ce !important;
  margin-bottom: 30px;
}

nav a,
nav ul li a {
  color: #19544f;
  font-weight: bold;
  font-family: 'balsamiqSans';
  font-size: 13pt;
}

.dropdown-menu {
  left: 0;
}

#left {
  right: 0;
  left: auto;
  padding-left: 1px;
  padding-right: 1px;
}

p {
  color: #91d5ce;
  font-size: 15pt;
  text-align: center;
  margin-bottom: 0% ! important;
}
