<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']"><img src={{logo}}>BénévolArt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/about']"><img src={{iBenevolart}}> <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/rechercher']"><img src={{rechercher}}></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/deposer']"><img src={{deposer}}></a>
      </li>

      <li class="nav-item" *ngIf="!verify;else show">
        <a class="nav-link" [routerLink]="['/connexion']"><img src={{connexion}}></a>
      </li>
      <ng-template #show>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src={{connected}}>
          </a>

          <div class="dropdown-menu" id="left" aria-labelledby="navbarDropdown">
            <!--<p>{{utilisateur?.pseudo}}</p>-->
            <p>{{pseudo?.pseudo}}</p>

            <a class="dropdown-item" [routerLink]="['/mesannonces']">Annonce</a>
            <a class="dropdown-item" href="#">Participation</a>
            <a class="dropdown-item" href="#">Message</a>
            <a class="dropdown-item" [routerLink]="['/compte']">Mon
              compte</a>
            <div *ngIf="role?.poste === 'admin'">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Gestion des abus</a>
              <a class="dropdown-item" href="#">Gestion des users</a>
            </div>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" [routerLink]="['/']" (click)="logout()">Deconnexion</a>
          </div>

        </li>
      </ng-template>
    </ul>
  </div>
</nav>
