<p class="bar"><strong>Qui somme nous ?</strong></p>

<div class="card" style="width: 50rem;">
  <img src={{vivreBienEnsemble}} class="card-img-top" alt="Vivre bien ensemble">
  <div class="card-body">
    <p class="card-text">
      Cette idée m'est venue car en Corée il y a plus de solidarité envers les personnes isolées et les mairies de
      quartier interviennent plus envers ces personnes.<br><br>
      Je voulais également une solution plus simple que de passer par les associations classiques où il faut s’inscrire
      et respecter leurs horaires...<br><br>
      Le but de cette application est de faire le lien entre des personnes individuelles âgées, handicapées ou en
      difficultés qui peuvent demander des simples services ou accompagnements aux gens qui souhaitent partager un peu
      de leurs temps.
      Par exemple moi j’aimerais donner un coup de main de temps en temps spontanément. Je voudrais aider les personnes
      âgées de mon quartier pour cela BénévolArt est très pratique car je peux m’inscrire quand je suis disponible ,
      rechercher une annonce de demande d’aide ou proposer mon service.<br>
      C’est ce que l’on appelle l’art du bénévolArt.
    </p>
  </div>
</div>
