.about {
  font-family: 'balsamiqSans';
  background-color: #77da88;
  margin-left: 70px;
  margin-right: 70px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  text-align: justify;
  color: #19544f;
  font-size: 20px;
}

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}
