<p class="bar">
  <strong>Déposer une annonce</strong>
</p>
<form [formGroup]="formGroup" (submit)="onSubmit()">
  <div class="borderForm">
    <div>
      <div id="typeAnnonce">
        <p>Type d'annonce *</p>
        <div class="custom-control custom-radio custom-control-inline">
          <div class="form-group-row">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input"
              formControlName="customRadioInline1" value="proposes">
            <label class="custom-control-label" id="radio" for="customRadioInline1" value="proposes">Proposes</label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input"
                formControlName="customRadioInline1" value="demandes">
              <label class="custom-control-label" for="customRadioInline2" value="demandes">Demandes</label>
            </div>
          </div>
          <span>
            <i class="fa fa-times-circle" style="color:firebrick;"
              *ngIf="formGroup.controls['customRadioInline1'].invalid">
              Choissisez type d'annonce</i>
          </span>
        </div>
      </div>


      <div class="container" id="menuCate">
        <div class="row">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{affiche}}
            </button>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-submenu" *ngFor="let categorie of categories">
                <a class="dropdown-item" tabindex="-1"> {{categorie.libelle}} </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item" *ngFor="let sousCategorie of categorie.ltSousCategorie"
                    id="sousCategorie.libelle" value="sousCategorie.id" (click)="getCategorie(sousCategorie)">
                    {{sousCategorie.libelle}}</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group-row" id="dateHeure">
        <label>
          Date et Heure De *
          <input class="owlInput" id="dateHeureInput" [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
            formControlName="dateDebut" [min]="minDate" [(ngModel)]="selectedMoments" [selectMode]="'rangeFrom'">
          <owl-date-time #dt12></owl-date-time>
        </label>
        <!--  <span>
          <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="formGroup.controls['dateDebut'].invalid">
            Merci de saisir la date et heure début</i>
        </span> -->
        <label>
          Date et Heure A *
          <input class="owlInput" [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13" formControlName="dateFin"
            [(ngModel)]="selectedMoments" [selectMode]="'rangeTo'">
          <owl-date-time #dt13></owl-date-time>
        </label>
        <!--  <span>
          <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="formGroup.controls['dateFin'].invalid">
            Merci de saisir la date et heure fin</i>
        </span> -->
      </div>

      <div class="verticalRanger" *ngIf="this.formGroup.controls['customRadioInline1'].value=='demandes'">
        <div class=" col-4">
          <label for="besoin">Nombre de bénévol nécessaire</label>
          <input type="number" class="form-control" id="besoin" value="1" min="1" max="20" formControlName="besoin"
            required>
        </div>
        <span>
          <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="formGroup.controls['besoin'].invalid">
            Merci de choisir le nombre de bénévol</i>
        </span>
      </div>



      <div class="form-group" id="titre">
        <div class="col-5">
          <label for="formGroupExampleInput">Titre de l'annonce *</label>
          <input type="text" class="form-control" id="formGroupExampleInput" formControlName="titre"
            [(ngModel)]="annonce.objet">
        </div>
        <span>
          <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="formGroup.controls['titre'].invalid">
            Minimum 4 caractères</i>
        </span>
      </div>

      <div class="verticalRanger">
        <div class="form-group">
          <div class="col-7">
            <label for="exampleFormControlTextarea1">Texte de l'annonce *</label>
            <textarea formControlName="contenu" class="form-control" id="exampleFormControlTextarea1" rows="3"
              [(ngModel)]="annonce.contenu"></textarea>
          </div>
          <span>
            <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="formGroup.controls['contenu'].invalid">
              Merci de preciser votre annonce</i>
          </span>
        </div>
      </div>

      <div class="inputRanger">
        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
          <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above
            input. It's a bit lighter and easily wraps to a new line.</small>
        </div>
      </div>
    </div>

    <hr>
    <p class="sousbar">
      <strong>Localisation</strong>
    </p>

    <div class="inputRanger">
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label">Numéro de voie</label>
        <div class="col-3">
          <input class="form-control" type="text" id="example-number-input" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="adresse.numVoie">
        </div>
      </div>
    </div>

    <div class="inputRanger">
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label">Type de voie</label>
        <div class="col-3">
          <input class="form-control" type="text" id="example-number-input" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="adresse.typeVoie">
        </div>
      </div>
    </div>

    <div class="inputRanger">
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label">Libelle de rue</label>
        <div class="col-3">
          <input class="form-control" type="text" id="example-number-input" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="adresse.libelleRue">
        </div>
      </div>
    </div>

    <div class="inputRanger">
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label">Code postale *</label>
        <div class="col-3">
          <input class="form-control" type="text" id="example-number-input" [(ngModel)]="adresse.codePostal"
            formControlName="codePostal">
        </div>
        <span>
          <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="formGroup.controls['codePostal'].invalid"> Code
            postal ne doit contenir que 5 chiffres</i>
        </span>
      </div>
    </div>

    <div class="inputRanger">
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label">Ville *</label>
        <div class="col-3">
          <input class="form-control" type="text" id="example-number-input" formControlName="ville"
            [(ngModel)]="adresse.ville">
        </div>
        <span>
          <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="formGroup.controls['ville'].invalid">Merci
            de saisir la ville</i>
        </span>
      </div>
    </div>

    <div class="col text-center">
      <button [disabled]="formGroup.invalid" class="btn btn-primary" id="btnLogin">Déposer</button>
    </div>
  </div>
</form>
