<div class="verticalRanger">
  <form [formGroup]="msgForm" (submit)="onSubmit()">
    <div class="form-group">
      <h5>Envoyer un message à {{annonce?.utilisateur.pseudo}}</h5>
      <div class="col-7">
        <label for="exampleFormControlTextarea1">Votre message *</label>
        <textarea formControlName="msg" class="form-control" id="exampleFormControlTextarea1" rows="3"
          [(ngModel)]="msg.contenu" [(ngModel)]="msgCorrespondant.contenu"></textarea>
      </div>
      <div class="col text-center">
        <button [disabled]="msgForm.invalid" class="btn btn-primary" id="btnLogin">Envoyer</button>
      </div>
    </div>
  </form>
</div>
