<p class="bar">
  <strong>Liste de mes annonces</strong>
</p>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Objet</th>
        <th scope="col">Date</th>
        <th scope="col">ville</th>

      </tr>
    </thead>

    <tbody *ngFor="let annonce of annonces | paginate: {itemsPerPage: count, currentPage:p}"
      [routerLink]="['/annonce', annonce.id]">
      <tr>
        <th scope="row">
          <div *ngIf="annonce?.demande; else tempElse">Demande</div>
          <ng-template #tempElse>
            offre
          </ng-template>
        </th>
        <td>{{annonce?.objet}}</td>
        <td>{{annonce?.dateTimePub}}</td>
        <td>{{annonce?.adresse.ville}}</td>
      </tr>
    </tbody>
  </table>

  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
