<p class="bar">
  <strong>Créer compte</strong>
</p>

<form [formGroup]="formGroup" (submit)="onSubmit()">
  <p class="warning" *ngIf="!verify">L'email est déjà exist</p>
  <div class="borderForm">
    <div class="form-group row">
      <label class="col-2 col-form-label">Pseudo *</label>
      <div class="col-6">
        <input formControlName="pseudo" class="form-control" type="text" [(ngModel)]="utilisateur.pseudo" />
      </div>
      <span>
        <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="formGroup.controls['pseudo'].invalid"> Pseudo doit
          contenir minimum 4 caractères et maximum 10 caractères</i>

      </span>
    </div>



    <div class="form-group row">
      <label class="col-2 col-form-label">Adresse email *</label>
      <div class="col-6">
        <input formControlName="email" class="form-control" type="email" [(ngModel)]="authentification.email" />
      </div>
      <span>
        <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="formGroup.controls['email'].invalid">
          L'email est incorrect
        </i>
      </span>
    </div>

    <div class=" form-group row">
      <label class="col-2 col-form-label">Mot de passe *</label>
      <div class="col-6">
        <input formControlName="motPasse" class="form-control" type="password"
          [(ngModel)]="authentification.motPasse" />
      </div>
    </div>

    <div class=" form-group row">
      <label class="col-2 col-form-label">Confirmer le mot de passe *</label>
      <div class="col-6">
        <input formControlName="confirmMdp" class="form-control" type="password" />
      </div>
      <span>
        <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="formGroup.controls['confirmMdp'].invalid"> Les
          mots de passe ne correspondent pas.</i>
      </span>
    </div>



    <div class="form-group row">
      <label class="col-2 col-form-label">Téléphone :</label>
      <div class="col-6">
        <input formControlName="telephone" class="form-control" type="text" [(ngModel)]="utilisateur.telephone" />
      </div>
      <span>
        <i class="fa fa-times-circle" style="color:firebrick;" *ngIf="formGroup.controls['telephone'].invalid"> Le
          numero
          de téléphone est incorrect, Merci de saisir que des chiffre.</i>
      </span>
    </div>


    <div class="col text-center">
      <button [disabled]="formGroup.invalid" class="btn btn-primary" id="btnLogin">Créer mon compte personnel</button>
    </div>
  </div>


</form>
