<p class="bar">
  <strong>Rechercher</strong>
</p>
<form (submit)="onSubmit()">
  <div class="borderForm">
    <div id="typeAnnonce">
      <div class="custom-control custom-radio custom-control-inline">
        <div class="form-group-row">
          <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input"
            value="proposes" (click)="getType('proposes')">
          <label class="custom-control-label" id="radio" for="customRadioInline1" value="proposes">Proposes</label>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input"
              value="demandes" (click)="getType('demandes')">
            <label class="custom-control-label" for="customRadioInline2" value="demandes">Demandes</label>
          </div>
        </div>
      </div>
    </div>


    <div class="container" id="menuCate">
      <div class="row">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{affiche}}
          </button>
          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-submenu" *ngFor="let categorie of categories" name="first">
              <a class="dropdown-item" tabindex="-1"> {{categorie.libelle}} </a>
              <ul class="dropdown-menu">
                <li class="dropdown-item" *ngFor="let sousCategorie of categorie.ltSousCategorie"
                  (click)="getCategorie(sousCategorie.id)">
                  {{sousCategorie.libelle}}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="form-group" id="titre">
      <div class="col-5">
        <label for="formGroupExampleInput">Mot clé</label>
        <input type="text" class="form-control" id="formGroupExampleInput" [ngModel]="myMap.get('cle')"
          (ngModelChange)="myMap.set('cle', $event)" name="third">
      </div>
    </div>

    <div class="form-group" id="titre">
      <div class="col-5">
        <label for="formGroupExampleInput">Ville</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="fourth" [ngModel]="myMap.get('ville')"
          (ngModelChange)="myMap.set('ville', $event)">
      </div>
    </div>

    <div class="form-group-row" id="dateHeure">
      <label>
        Date et Heure De *
        <input class="owlInput" id="dateHeureInput" [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12" [min]="minDate"
          [(ngModel)]="selectedMoments" [selectMode]="'rangeFrom'" name="fifth" [(ngModel)]="dates">
        <owl-date-time #dt12></owl-date-time>
      </label>
      <label>
        Date et Heure A *
        <input class="owlInput" [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13" [(ngModel)]="selectedMoments"
          [selectMode]="'rangeTo'" name="sixth" [(ngModel)]="dates">
        <owl-date-time #dt13></owl-date-time>
      </label>
    </div>

    <div class="col text-center">
      <button class="button connexion">Rechercher</button>
    </div>
  </div>
</form>
<app-listeAnnonce></app-listeAnnonce>
