<p class="bar">
  <strong>Annonce</strong>
</p>
<div class="borderForm">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p class="fontS15">Objet : {{annonce?.objet}} </p>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <p class="fontS15"> Nom du emetteur : {{annonce?.utilisateur.pseudo}} </p>
      </div>
      <div *ngIf="annonce?.utilisateur.id !== idUtilisateur?.id " class="col-4">
        <a [routerLink]="getUrl()" class="fontS15"> <i class="fa fa-envelope"></i>
          Envoyer un message
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p class="fontS15">Catégorie : {{annonce?.sousCategorie.libelle}} </p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p class="fontS15">Date et Heure De : {{annonce?.dateTimeDebut}} </p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p class="fontS15">Date et Heure A : {{annonce?.dateTimeFin}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p class="fontS15">Nombre de bénévol nécessaire : {{annonce?.nombreBesoin}} </p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p class="fontS15">Nombre de participant : {{annonce?.ltBenevol.length}} </p>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <p class="fontS15">Description :</p>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <p>{{annonce?.contenu}} </p>
      </div>
    </div>



    <div *ngIf="annonce?.utilisateur.id !== idUtilisateur?.id" class="col text-center">
      <button class="btn btn-primary" id="btnLogin">Participer</button>
    </div>

    <div *ngIf="annonce?.utilisateur.id !== idUtilisateur?.id" class="col text-center">
      <button class="btn btn-primary" id="btnLogin">Signaler un abus</button>
    </div>
  </div>
</div>

<!-- <app-listeAnnonce></app-listeAnnonce> -->
