<p class="bar">
  <strong>Connexion</strong>
</p>

<p *ngIf="!verify">Votre email ou mot de passe est erroné</p>
<p *ngIf="!active">Votre compte est désactivé, Veuillez svp nous contacter</p>
<div class="borderForm">
  <form [formGroup]="authForm" (submit)="onSubmit()">

    <div class="form-group row">
      <label class="col-2 col-form-label">Email :</label>
      <div class="col-6">
        <input formControlName="email" class="form-control" type="email" [(ngModel)]="authentification.email" email />
      </div>
    </div>

    <div class=" form-group row">
      <label class="col-2 col-form-label">Mot de passe :</label>
      <div class="col-6">
        <input formControlName="motPasse" class="form-control" type="password"
          [(ngModel)]="authentification.motPasse" />
      </div>
    </div>

    <div class="col text-center">
      <button [disabled]="authForm.invalid" class="btn btn-primary" id="btnLogin">Login</button>
    </div>
  </form>
  <hr>
  <div class="aa">
    <p class="fontS15" align="center">Vous n'avez pas de compte ?</p>
    <div class="col text-center">
      <button class="button" id="btnLogin" [routerLink]="['/creerCompte']">Créer mon Compte Personnel</button>
    </div>
  </div>
</div>
