/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

@font-face {
  src: url("src/assets/fontFamily/BalsamiqSansRegular.ttf");
  font-family: 'balsamiqSans';
}

p,
label {
  font-family: 'balsamiqSans';
  color: #19544f;
  font-weight: bold;
}

.bar {
  background-color: #77da88;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 50px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  text-align: justify;
  color: #19544f;
  font-size: 20px;
}

.sousbar {
  background-color: #343a40;
  color: #91d5ce;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  border-radius: 40px;
  padding-left: 3%;
}

h1 {
  color: #19544f;
  font-family: 'balsamiqSans';
}

.button {
  background-color: #91d5ce;
  border: none;
  font-family: 'balsamiqSans';
  font-weight: bold;
  color: #343a40;
  border-radius: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #343a40;
}

button:hover {

  background-color: #343a40;
  color: #77da88;

}

#btnLogin {
  background-color: #91d5ce !important;
  border: none !important;
  font-family: 'balsamiqSans' !important;
  font-weight: bold !important;
  color: #343a40 !important;
  border-radius: 12px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  border: 2px solid #343a40 !important;
  margin-top: 3%;
  margin-bottom: 3%;

}


.fontS15 {
  font-family: 'balsamiqSans';
  font-size: 15pt;
}

.mb-3 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.input-group-prepend {
  margin-left: 25%;
}

.form-control {
  margin-right: 25%;
}

.input-group-text {

  font-family: 'balsamiqSans';
  background-color: #91d5ce;
  color: #19544f;
}

.connexion {
  margin-top: 5%;
  margin-bottom: 5%;
}

select {
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: #343a40 1px solid;
}

.typeText {
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: #c7cbcf 1px solid;
}

.borderForm {
  align-self: center;
  border-radius: 10px;
  border: #c7cbcf 1px solid;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

th,
tr,
li {
  font-family: 'balsamiqSans';
}


#dropdownMenu1 {
  width: 200px !important;
  color: #91d5ce;
  font-weight: bold;
  font-family: 'balsamiqSans';
  border-radius: 30px;

}

#menuCate {
  padding-left: 25px;
  padding-bottom: 2%;
  margin-left: 0%;

}

#radio {
  padding-right: 50px;
}

#typeAnnonce {
  padding-left: 15px;
  padding-bottom: 20px;
}

#dateHeure {
  padding-left: 15px;
  padding-bottom: 15px;
}

.owlInput {
  border-radius: 4px;
  border: #c7cbcf 1px solid;
  margin-right: 15px;
}

#titre {
  padding-bottom: 20px;
}
